@{
    ViewData["Title"] = "Home Page";
}

<div clas="Index">
    <h1>Bienvenido a PreguntadORT<h1>
    <div clas="Logo">
        <img src="\Imagenes\pregunta.png">
    <div>
    <!-- Falta que ande el href -->
    <a href='@Url.Action("Home","ConfigurarJuego")'>Comenzar</a>
<div>